.custom-logo {
  margin-left: -20px; /* Déplace légèrement à gauche */
}

.custom-logo img {
  max-width: 90px; /* Réduit la taille des logos */
  height: auto;
  margin-right: 5px; /* Espace entre les logos */
}

.partner-wrapper img {
  width: 280px;           /* largeur uniforme */
  height: 120px;           /* hauteur uniforme */
  object-fit: contain;    /* garde les proportions sans déformation */
  margin: 0 15px;         /* espace horizontal entre les logos */
  display: inline-block;
  transition: transform 0.3s ease;
}

/* Optionnel : effet zoom au survol */
.partner-wrapper img:hover {
  transform: scale(1.05);
}




@media (min-width: 768px) {
  .team-img img {
      width: 350px;
      height: 440px;
      object-fit: cover;
      object-position: center;
      display: block;
      margin: 0 auto;
      border-radius: 8px; /* optionnel pour adoucir */
  }
}

@media (max-width: 767px) {
  .team-img img {
      width: 100%;
      height: auto;
      border-radius: 8px;
  }
}
